beautifulsoup4
certifi
chardet
click
cycler>=0.10
Flask
Flask-Login
flask-simplelogin
Flask-WTF
idna
itsdangerous
Jinja2
kiwisolver>=1.0.1
lxml
MarkupSafe
matplotlib>=3.4.0
numpy>=1.19.0
pandas
pygal
pyparsing>=2.2.1
python-dateutil>=2.7
pytz
requests
six
soupsieve
urllib3
Werkzeug
WTForms
sqlite3