<head>
  <title> Titulo original</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

  <!-- ImportCss-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>